.flexcontainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 18px;
}

body {
  background-color: beige;
  text-align: center;
}

*{
  font-family: 'Montserrat', sans-serif;  
}

img {
  width: 35%;
  border-radius: 8px;
  display: block;
  margin: auto;
}

.indextitle {
  font-size: 30px;
  text-align: center;
  color: rgb(31, 46, 87);
}

.learntitle {
  font-size: 30px;
  text-align: center;
  color: rgb(31, 46, 87);
}

p {
  font-size: 20px;
  text-align: center;
  color: rgb(31, 46, 87);
}

a {
  background-color: rgb(31, 46, 87);
  border-radius: 8px;
  color: rgb(115, 187, 232);
  padding: 15px 32px;
  text-align: center;
  text-decoration: lightblue;
  display: inline-block;
  font-size: 25px;
}

.centered-list {
  list-style-position: inside; 
  text-align: center;
  padding-left: 0;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: rgb(31, 46, 87);
}

.getstartedtitle {
  font-size: 40px;
  text-align: center;
  color: rgb(31, 46, 87);
} 

.getstartedlist {
  font-size: 24px;
  list-style-position: inside; 
  text-align: center;
  display: inline-block;
  padding-left: 0;
}

.learnlist {
  font-size: 28px;
  list-style-position: inside; 
  text-align: center;
  display: inline-block;
  padding-left: 0;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}